:root{

    --bg:#140B24;
    --panel:#24153D;

    --purple:#8B5CF6;
    --pink:#FF4FD8;

    --green:#72FF7A;
    --yellow:#FFD84D;
    --red:#FF5B5B;

    --blue:#54B7FF;

    --border:#5B3D8E;

    --text:#F8F8FF;

}